.app-button{
    background-color: #1e1e1e;
    border: none;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.app-button:hover{
    background-color: #2d2d2d;
}

.app-button:after{
    background-color: #1e1e1e;
}
.app-text{
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.input-style {
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding: 5px;
    border: 0;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #646464;
    color: white;
}

.select-input{
    width: fit-content;
    height: fit-content;
}

.input-style:focus-visible {
    outline: none;
}

.center-element-div{
    display: flex;
    justify-content: center;
    align-items: center;
}